{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<h2 class="form-title">Password Reset</h2>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>


<p class="loginhere">
    Didn't receive the email? <a href="{% url "password_reset" %}" class="loginhere-link">Try again</a><br>
    Don't have an account? <a href="{% url "register" %}" class="loginhere-link">Sign Up</a>
</p>




{% endblock %}





