{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}





<form method="POST" action="." id="signup-form" class="signup-form">
    <h2 class="form-title">Password Reset</h2>
    {% for field in form %}

    <div class="form-group">

        {% render_field field class+="form-input" placeholder=field.label %}
        {{ field.errors }}

    </div>

    {% endfor %}
    {% csrf_token %}

    <div class="form-group">
        <input type="submit" name="submit" id="submit" class="form-submit" value="Send e-mail"/>
    </div>

</form>

<p class="loginhere">
    Remember your password? <a href="{% url "dashboard:index" %}" class="loginhere-link">Login here</a><br>
    Don't have an account? <a href="{% url "register" %}" class="loginhere-link">Sign Up</a>
</p>
















{% endblock %}
