{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>

<form method="POST" action="." class="signup-form">

    {% for field in form %}

    <div class="form-group">

        {% render_field field class+="form-input" placeholder=field.label %}
        {{ field.errors }}

    </div>

    {% endfor %}
    {% csrf_token %}

    <div class="form-group">
        <input type="submit" name="submit" id="submit" class="form-submit" value="RESET"/>
    </div>

</form>







{% else %}
<p>The password reset link was invalid, possibly because it has
already been used. Please request a new password reset.</p>
{% endif %}




{% endblock %}
