{% extends "dashboard/dashboard_base.html" %}
{% load humanize %}

{% block title %} Main Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block charts %}

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Residual Risk Score</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="residual_risk_scores" style="height:830px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                <h2>Count of BICD by Risk Factor (Group)</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div id="risk_factor" style="height:370px;"></div>
              </div>
          </div>
      </div>

    </div>
  </div>


  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Rolling 12M Earnings at Risk (BICD)</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="potential_loss" style="height:370px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Rolling 12M Actual Loss (BICD)</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="actual_loss" style="height:370px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Rolling 12M Actual Loss - Fraud (BICD)</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="fraud_loss" style="height:370px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Count of BICD by Root Cause (Group)</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="root_cause" style="height:370px;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
      <div class="row x_title">
        <div class="col-md-6">
          <h3>Daily Complaint Counts</h3>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
              <h2 id="Fraud_heatmap_title">Fraud Heatmap - Banking</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="javascript:update_heatmap('Fraud_heatmap','Banking')">Banking</a></li>
                      <li><a href="javascript:update_heatmap('Fraud_heatmap','Wholesale')">Wholesale</a></li>
                      <li><a href="javascript:update_heatmap('Fraud_heatmap','Aggregation')">Aggregation</a></li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div id="Fraud_heatmap" style="height:450px;"></div>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br/>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Incoming Fraud from Digital Currency Accounts</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="fraud_amount" style="height:370px;"></div>
      </div>
    </div>
  </div>
</div>
{% endblock charts %}

{% block custom_js %}
<script>
    var residual_risk_scores = {{ residual_risk_scores|safe }}
    var risk_factor_breakdown = {{ risk_factor_breakdown|safe }};
    var root_cause_breakdown = {{ root_cause_breakdown|safe }};
    var heatmap_data = {{ heatmap_data|safe }}
    var wholesale_losses = {{ wholesale_losses|safe }}
    var aggregation_losses = {{ aggregation_losses|safe }}
    var actual_losses = {{ actual_losses|safe }}
    var fraud_losses = {{ fraud_losses|safe }}
    var potential_losses = {{ potential_losses |safe }}
    var fraud_amounts = {{ fraud_amounts |safe }}
    fraud_amounts= {Banking:fraud_amounts,Wholesale:{'date':fraud_amounts.date,'loss':[]},Aggregation:{'date':fraud_amounts.date,'loss':[]}}
    render_loss(fraud_amounts, 'fraud_amount')
    render_bicd_breakdown(risk_factor_breakdown, "risk_factor")
    render_bicd_breakdown(root_cause_breakdown, "root_cause")
    render_loss(actual_losses, "actual_loss")
    render_loss(fraud_losses, "fraud_loss")
    render_loss(potential_losses, "potential_loss")
    render_vertical_graph(residual_risk_scores,"residual_risk_scores")
    Object.keys(heatmap_data).forEach(function(chart_id){
        var chart_data = heatmap_data[chart_id]
        var chart_name = heatmap_data[chart_id]["chart_name"]
        render_heatmap(chart_id, chart_data, "Banking", chart_name);
    })

</script>

{% endblock custom_js%}
